<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="dark">
<meta name="theme-color" content="#081319">
<link rel="icon" href="{{root}}assets/img/icon.svg" type="image/svg+xml">
<link rel="preload" href="{{root}}assets/fonts/bricolage-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{root}}assets/css/fonts.css">
<link rel="stylesheet" href="{{root}}assets/css/site.css">
<script src="{{root}}assets/js/boot.js"></script>
